<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <p class="navbar-text pull-left" style="margin-left: 0px">
                <a href="#/user/{{model.userId}}/website" class="glyphicon glyphicon-chevron-left"></a>
            </p>
            <p class="navbar-text pull-right" style="margin-right: 0px">
                <a href="#/user/{{model.userId}}/website/new" class="glyphicon glyphicon-plus"></a>
            </p>
            <div class="navbar-header">
                <a class="navbar-brand profile-websites-navbar-text">Websites</a>
            </div>
        </div>
        <div class="col-sm-8">
            <p class="navbar-text pull-left" style="margin-left: 0px">
                <a href="#/user/{{model.userId}}/website" class="glyphicon glyphicon-chevron-left"></a>
            </p>
            <p class="navbar-text pull-right" style="margin-right: 0px">
                <a ng-click="model.updateWebsite(model.website)" class="glyphicon glyphicon-ok"></a>
            </p>
            <div class="navbar-header">
                <a class="navbar-brand profile-websites-navbar-text">Edit Website</a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs">
        <ul class="list-group">
            <li ng-repeat="website in model.websites" class="list-group-item">
                <a href="#/user/{{model.userId}}/website/{{website._id}}/page">
                    {{website.name}}
                </a>
                <div class="pull-right">
                    <a href="#/user/{{model.userId}}/website/{{website._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <div class="v-divider hidden-xs"></div>
    <div class="col-sm-8">
        <form>
            <div class="form-group">
                <label for="website">Website Name</label>
                <input ng-model="model.website.name" type="text" class="form-control" id="website" placeholder="Website">
            </div>
            <div class="form-group">
                <label>Website Description</label>
                <textarea ng-model="model.website.description" class="form-control" rows="5"></textarea>
            </div>
            <a class="btn btn-danger  btn-block"
               ng-click="model.deleteWebsite(model.website._id)">Delete</a>
        </form>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right" style="margin-right: 0px">
            <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user"></a>
        </p>
    </div>
</nav>