input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.verticalLine {
    width:1px;
    background-color: black;
    left: 33%;
    position: absolute;
    z-index: 5;
    top:0;
    bottom: 0;
}

.templates-websites-navbar .glyphicon {
    color: #337ab7;
}