<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left" style="margin-left: 0px">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page"
               class="glyphicon glyphicon-chevron-left"></a>
        </p>
        <p class="navbar-text pull-right" style="margin-right: 0px">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new"
               class="glyphicon glyphicon-plus"></a>
        </p>
        <div class="navbar-header">
            <a class="navbar-brand profile-websites-navbar-text">Widgets</a>
        </div>
    </div>
</nav>

<div class="container-fluid" sortable>
    <div ng-switch="widget.widgetType" ng-repeat="widget in model.widgets | orderBy: 'priority'">
        <div ng-switch="widget.size" ng-switch-when="HEADER">
            <div class='btn-toolbar pull-right'>
                <div class='btn-group'>
                    <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{widget._id}}"
                       class='glyphicon glyphicon-cog'></a>
                </div>
            </div>
            <h1 ng-switch-when="1">{{widget.text}}</h1>
            <h2 ng-switch-when="2">{{widget.text}}</h2>
            <h3 ng-switch-when="3">{{widget.text}}</h3>
            <h4 ng-switch-when="4">{{widget.text}}</h4>
            <h5 ng-switch-when="5">{{widget.text}}</h5>
            <h6 ng-switch-when="6">{{widget.text}}</h6>
            <h7 ng-switch-default="3">Size undefined</h7>
        </div>

        <div ng-switch-when="HTML">
            <div ng-bind-html="model.checkSafeHtml(widget)"></div>
            <div class='btn-toolbar pull-right'>
                <div class='btn-group'>
                    <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{widget._id}}"
                       class='glyphicon glyphicon-cog'></a>
                </div>
            </div>
        </div>

        <div ng-switch-when="IMAGE">
            <div class='btn-toolbar pull-right'>
                <div class='btn-group'>
                    <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{widget._id}}"
                       class='glyphicon glyphicon-cog'></a>
                </div>
            </div>
            <img class="img-responsive" ng-src="{{widget.url}}" width="{{widget.width}}"/>
        </div>

        <div ng-switch-when="YOUTUBE" class="youtube-widget">
            <div class='btn-toolbar pull-right'>
                <div class='btn-group'>
                    <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{widget._id}}"
                       class='glyphicon glyphicon-cog'></a>
                </div>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560"
                        height="315"
                        ng-src="{{model.checkSafeYouTubeUrl(widget.url)}}"
                        frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>

        <div ng-switch-when="INPUT">
            <div ng-if="widget.formatted" text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'], ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'], ['indent','outdent'],['html']]"></div>
            <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
                   placeholder="{{widget.placeholder}}" class="form-control"/>
            <textarea ng-if="!widget.formatted && (widget.rows > 1)"
                      rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                      class="form-control">{{widget.text}}</textarea>
        </div>

        <div ng-switch-default>
            Error rendering your widget. Please try again.
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right" style="margin-right: 0px">
            <a href="#/user/{{model.uid}}" class="glyphicon glyphicon-user"></a>
        </p>
    </div>
</nav>