<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left" style="margin-left: 0px">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page"
               class="glyphicon glyphicon-chevron-left"></a>
        </p>
        <p class="navbar-text pull-right" style="margin-right: 0px">
            <a ng-click="model.updateWidget()"
               class="glyphicon glyphicon-ok"></a>
        </p>
        <div class="navbar-header">
            <a class="navbar-brand profile-websites-navbar-text">Edit Widget</a>
        </div>
    </div>
</nav>

<div ng-include="'views/widget/widget-' + model.widget.type + '.view.client.html'"></div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right" style="margin-right: 0px">
            <a href="#/user/{{model.uid}}" class="glyphicon glyphicon-user"></a>
        </p>
    </div>
</nav>