<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left" style="margin-left: 0px">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"
               class="glyphicon glyphicon-chevron-left"></a>
        </p>
        <div class="navbar-header">
            <a class="navbar-brand profile-websites-navbar-text">Choose Widget</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <a ng-click="model.createWidget('header')">
                Header
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget('html')">
                HTML
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget('input')">
                Text Input
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget('image')">
                Image
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget('youtube')">
                YouTube
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right" style="margin-right: 0px">
            <a href="#/user/{{model.uid}}" class="glyphicon glyphicon-user"></a>
        </p>
    </div>
</nav>