<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left" style="margin-left: 0px">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"
               class="glyphicon glyphicon-chevron-left"></a>
        </p>
        <p class="navbar-text pull-right" style="margin-right: 0px">
            <a ng-click="model.updateWidget()"
               class="glyphicon glyphicon-ok"></a>
        </p>
        <div class="navbar-header">
            <a class="navbar-brand profile-websites-navbar-text">Edit Widget</a>
        </div>
    </div>
</nav>

<div ng-switch="model.widget.widgetType">
    <div ng-switch-when="HEADER">
        <ng-include src="'views/widget/widget-heading.view.client.html'">
    </div>
    <div ng-switch-when="IMAGE">
        <ng-include src="'views/widget/widget-image.view.client.html'">
    </div>
    <div ng-switch-when="YOUTUBE">
        <ng-include src="'views/widget/widget-youtube.view.client.html'">
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right" style="margin-right: 0px">
            <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user"></a>
        </p>
    </div>
</nav>